/* input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
} */
 
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url("liquid-cheese.svg");
    background-size: cover;
}


input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

/* button.edit {
    margin-left: 0px;
    margin-right: 20px;
    border: none;
    background: none;
}

form.edit {
display: flex;
} */
  